<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/main.css">
    <title>Your Todo List</title>
  </head>
  <body>
    <h1>A Todo List for you !</h1>

    <form class="theForm" action="/" method="post">
      <input id="todoList" type="text" name="list" value="" placeholder="Add something to your list :)">
      <input class="theButton" type="submit">
    </form>

    <ul>


    </ul>

    <script type="text/javascript" src='./javascript/main.js'></script>
  </body>
</html>
